<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<h2>부동산광고시장감시센터에 오신 것을 환영합니다.</h2>


<!--    banner-->
<!--    -->
<!--    <div th:each="banner : ${bannerList}">-->
<!--        <p th:if="${banner.isFrontDisplay()}">-->
<!--            <a th:if="${banner.isNewWindow()}" th:href="${banner.getLinkURL()}" th:target="_blank">-->
<!--                <img th:src="${banner.getUrlFilename()}"/>-->
<!--            </a>-->
<!--            <a th:unless="${banner.isNewWindow()}" th:href="${banner.getLinkURL()}">-->
<!--                <img th:src="${banner.getUrlFilename()}"/>-->
<!--            </a>-->
<!--        </p>-->
<!--    </div>-->

</body>
</html>
